.card{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_card{
    width: 90%;
    height: auto;
}
.cont_txt{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desc_imovel{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    color: var(--color-gray-dark);
    width: 70%;
}
.price_imovel{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bd);
    color: var(--color-black);
}
.despesas_imovel{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bd);
    color: var(--color-black);
}
.end_imovel{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    color: var(--color-gray-dark);
    width: 70%;
}