.cont_filters{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_cards{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow-y: visible;
    width: 90%;
    scrollbar-width: none;
    height: 50%;
    gap: 15px;
    overflow-x: auto;
    appearance: none;
}
button{
    background-color: var(--color-gray-light);
    border: none;
}
select{
    background-color: var(--color-gray);
    border: none;

}

.card{
    width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    flex-shrink: 0; 
}
.card select{
    width: 80%;
}
.dropdown_class{
    display: none;
    width: 200px;
    height: auto;

    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    z-index: 999;
    position: absolute;
    top: 105%;
    left: 0;
}
.dropdown_class input{
    width: 100%;
}