.footer{
    width: 100%;
    height: 40vh;
    background-color: var(--color-black);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cont_cards{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont_logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
}
.txt_green_logo{
    color: var(--color-green);
}
.txt_card{
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bd);
}
.subtxt_card{
    color: var(--color-white);
    font-size: var(--font-size-sm);
}
.txt_direitos{
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);

}