.header{
    background-color: var(--color-white);
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position: fixed;
}
.cont_logo{
    width: fit-content;
}

.txt_logo{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bd);
}
.span_logo{
    font-size: var(--font-size-md);
    color: var(--color-green);
}
.subtxt_logo{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
}

.cont_link_btn{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.cont_links{
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.link_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
    text-align: center;
}
.link_header:hover{
    color: white;
    font-weight: var(--font-weight-500);
    background-color: var(--color-green);
    border-radius: 1vh;
}

.btn_header{
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: var(--color-white);
    background-color: var(--color-green);
}