.home_admin {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    gap: 5vh;
    height: auto;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-lmd);
    font-weight: var(--font-weight-500);
    width: 80%;
    height: 10vh
}

.btn_cadastrar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 10vh;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: var(--color-white);
}

.txt_btn {
    font-weight: var(--font-weight-500);

    font-size: var(--font-size-smd);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.cont_txts {
    width: 80%;
    height: 5vh;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}

.txt_imoveis {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-lmd);

}

.subtxt_imoveis {
    font-size: var(--font-size-sm);
}

.cont_cards {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 5vh;
}

.card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_card {
    width: 20vw;
    height: auto;
    border-radius: 30px;
}

.cont_txt {
    width: 20vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc_imovel {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    color: var(--color-gray-dark);
    width: 15vw;
}

.price_imovel {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bd);
    color: var(--color-black);
}

.despesas_imovel {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bd);
    color: var(--color-black);
}

.end_imovel {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
    color: var(--color-gray-dark);
    width: 70%;
}

@media (max-width: 1280px) {
    .txt_name {
        width: 90%;
        height: 10vh;
        text-align: center;
    }

    .btn_cadastrar {
        width: 80%;
        height: 10vh;

    }

    .cont_cards {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card{
        justify-content: space-evenly;
        height: 50vh;
    }
    .img_card{
        width: 80%;
    }
    .cont_txt{
        width: 80%;
    }
}

@media (min-width: 1280px) {
    .txt_name {
        width: 90%;
        text-align: center;
    }

    .btn_cadastrar {
        width: 40%;
        height: 8vh;
    }

    .cont_cards {
        width: 90%;
        gap: 4vw;
        padding: 4vh;
        flex-direction: row; 
    }

    .img_card {
        width: 22vw;
    }

    .cont_txt {
        width: 22vw;
    }

    .desc_imovel {
        width: 100%;
    }
}

@media (max-width: 1024px) {}


@media (max-width: 768px) {}

@media (max-width: 480px) {}