.imovel{
    width: 100%;
    min-height: 100vh;
    height: auto;
}
.container{
    width: 100%;
    gap: 1vh;
    height: auto;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 70%;
}
.cont_btns .btn_banner {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: var(--color-white);
}
.cont_btns .btn_banner .txt_btn{
    font-size: var(--font-size-smd);
}

.cont_titulo{
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cont_titulo .txt_titulo{
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-500);
    
}
.cont_titulo .txt_id{
    padding: 1vh;
    border-radius: 2.5vh;
}
.cont_imgs{
    height: auto;
    width: 70%;
    --swiper-navigation-color: var(--color-white); /* Cor da seta (ex: Vermelho) */
    --swiper-pagination-color: var(--color-white);
}
.swiper{
    height: 70vh;
    border-radius: 30px;
}
.cont_imgs .slides{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_slide {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center;
    display: block;
}
.cont_info_valor{
    width: 70%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont_info_maps{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.txt_info{
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-bd)
}
.infos{
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.info{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.maps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 30px;
    width: 100%;
    height: 40%;
}
.cont_endereco{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.cont_endereco p{
    font-weight: var(--font-weight-500);
}
.cont_valor{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    height: 95%;
    background-color: var(--color-white);
    width: 30%;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.subtxt_valor{
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-sm);
    text-decoration: underline;
    width: 80%;
}
.txt_valor{
    width: 80%;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bd);
}
.cont_cond{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.txt_cond{
    font-weight: var(--font-weight-500);
    
}
.btn_fale_comigo{
    width: 80%;
    border-radius: 20px;
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-bd);
    height: 20%;
    background-color: var(--color-green);
    color: var(--color-white);
}
.cont_compartilhar{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cont_desc_corretor{
    width: 70%;
    height: auto;
    display: flex;
    margin: 5vh;
    justify-content: space-between;
}
.descricao{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.txt_descricao{
    font-weight: var(--font-weight-bd);
    font-size: var(--font-size-smd);
}
.desc_descricao{
    font-size: var(--font-size-sm);
}
.corretor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 12.5vh;
}