.login {
    background-color: var(--color-green);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 15vh;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--color-white);
    height: 70%;
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.txt_form {
    color: var(--color-green);
    font-size: var(--font-size-lmd);
    font-weight: var(--font-weight-bd);
}

.cont_inp {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.txt_inp {
    color: var(--color-black);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-500);
}

.inp_form {
    border: 2px solid var(--color-gray);
    width: 100%;
    height: 90%;
    border-radius: 30px;
    outline: none;
    padding-left: 20px;
}

.desc_form {
    width: 80%;
    text-align: center;
    color: var(--color-gray-dark);
}

.cont_msg {
    width: 70%;
    justify-content: space-evenly;
    display: flex;

}

.btn_login {
    border-radius: 3vh;
    color: var(--color-white);
    background-color: var(--color-green);
    font-size: var(--font-size-sm);
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.txt_erro {
    color: #ff0000;
}

.pop_up {
    position: absolute;
    width: 100%;
    height: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.25);

}

.pop_up .container {
    margin: 0;
    width: 25%;
    height: 45%;
    border-radius: 30px;
    background-color: var(--color-green-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--color-green);
}

.txt_popup{
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-500);
    width: 60%;
    text-align: center;
}