
.pop_up {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.25);

}

.pop_up .container {
    margin: 0;
    width: 25%;
    height: 45%;
    border-radius: 30px;
    background-color: var(--color-green-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--color-green);
}

.txt_popup{
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-500);
    width: 60%;
    text-align: center;
}