
.pop_up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    inset: 0;
}

.pop_up .container {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    
}
.cont_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    height: 80%;
    width: 80%;

}
.txt_popup{
    font-size: var(--font-size-smd);
    font-weight: var(--font-weight-500);
    width: 60%;
    text-align: center;
}