.register_imovel{
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
.form_register{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
    margin: 5vh;
    padding: 7vh;
    border-radius: 50px;
    background-color: var(--color-white);
}
.txt_register{
    font-size: var(--font-size-lg);
    text-align: center;
    width: 70%;
    color: var(--color-green);
    font-weight: var(--font-weight-bd);
}
.cont_checkbox{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radio{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont_inputs{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_inputs .input{
    width: 45%;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75%;
    height: 10vh;
}


.check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 10vh;
    
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    height: 10vh;
}
.select select{
    padding-left: 2vh;
    padding-right: 2vh;
    width: 100%;
    height: 60%;
    box-shadow: 0 0 10 10px rgba(0, 126, 2, 0.3);
    background-color: var(--color-gray-light);
    border-radius: 20px;
    font-size: var(--font-size-sm);
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
.inputs_register{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    border: 1px solid var(--color-gray-dark);
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
#descricao{
    height: 15vh;   
}
#input_descricao{
    height: 90%;
}

.cont_imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
}
.cont_image{
    width: 100%;
    height: 60%;
}
.img{
    width: 300px;
    height: 169px;
    overflow: hidden;
}
.card{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.cont_txt{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.swipper_slide {
  width: 280px; 
  height: 100%; 
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt_selecione{
    width: 100%;
    text-align: center;

}
.btn_cadastrar{
    width: 50%;
    height: 10vh;
    border-radius: 30px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--font-size-smd);
    margin: 2vh;
}
.span_asterisco{
    color: var(--color-orange);
}

@media (max-width: 1024px) {
    .form_register{
        width: 70%;
    }
    .txt_register{
        font-size: var(--font-size-md);
    }
    .cont_checkbox{
        flex-direction: column;
    }
    .cont_inputs{
        flex-direction: column;
        gap: 3vh;
        width: 85%;
    }
    .input{
        width: 85%;
    }
    .cont_inputs .input{
        height: 10vh;
        width: 100%;
    }
    .check{
        width: 85%;
    }
    .radio{
        justify-content: space-between;
        width: 100%;
    }
    .btn_cadastrar{
        width: 85%;
    }
}


@media (max-width: 768px) {}

@media (max-width: 480px) {
    .form_register {
        width: 95%;
        padding: 3vh;
        border-radius: 20px;
    }

    .txt_register {
        font-size: var(--font-size-sm);
    }

    .btn_cadastrar {
        height: 8vh;
        font-size: var(--font-size-sm);
    }

    .inputs_register,
    .select select {
        font-size: var(--font-size-sm);
    }
}
