.search{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont_search{
    width: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-bottom: 1px solid var(--color-gray);
}
.cont_filters{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}